img{
	float:left;
	width: 150px;
	border: solid 3px white;
	margin: 20px;
}

body{
	background-color: steelblue;

	justify-content: center;

}

h1{
	color:white;
	text-align: center;
}

li{
	list-style-type: none;
}

.wrap{
	width: 70%;
	margin: 0px auto;
}

/*  OverLay */

#overlay {
	background: rgba(0,0,0,0.7);
	width: 100%;
	height: 100%;
	position: absolute;
	top:0;
	left:0;
	display: none;
	text-align: center;
}

#overlay img{
	margin-top: 10%;
	float:none;
	width: 100%;
	height: 100%;
	max-width: 60%;
	max-height: 60%;
}

#overlay p {
	color:white;
}