img{
	float:left;
	width: 150px;
	border: solid 3px white;
	margin: 20px;
}

body{
	background-color: steelblue;

	justify-content: center;

}

h1{
	color:white;
	text-align: center;
}

li{
	list-style-type: none;
}

.wrap{
	width: 70%;
	margin: 0px auto;
}